---
import Card from "./Card/index.astro";
---
<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Software Engineer from Chile 🇨🇱
      <br />
      Technical skills:
      <ul class="list-disc list-inside">
        <li>JavaScript/TypeScript </li>
        <li>Ruby on Rails</li>
        <li>Python</li>
        <li>React.js</li>
        <li>PostgreSQL</li>
        <li>GraphQl</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      As a software engineer, my core strengths lie in coding proficiency,
      problem-solving, and agile methodologies. I excel in designing efficient
      algorithms, debugging, and integrating APIs, ensuring high-quality software solutions. 
    </p>
  </div>
</Card>